.main_wrapper {
    @include extracolumnblock;
    & a {
        text-decoration: initial;
    }
}
.detail-menu {
    &__plats {
    display: flex;
    justify-content: space-between;
    }
    &__prix {
        text-align: end;
    }
}
.footer__link {
    :hover {
    animation: headshake 200ms cubic-bezier(.4,.1,.6,.9) 4;
    }
}
a:hover {
    & .zoom {
    transform: scale(1);
    animation: zoom 500ms forwards;
    @media all and (max-width: 768px){
    animation: smallzoom 500ms forwards ;
    }
    

}
}

@keyframes headshake {
    25% {
        // entièrement à droite
        transform: translateX($shake-intensity);
    }
    75% {
        // entièrement à gauche
        transform: translateX($shake-intensity * -1);
    }
}
@keyframes zoom { 
    25% {
        
        transform: scale(1.3);
    }
    75% {
        transform: scale(1.7);
    }
        100% {
            transform: scale(1.7);
        }
    
}

@keyframes smallzoom {
    25% {
        
        transform: scale(1.1);
    }
    75% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.2);
    } 
}

.highlight::after {
        content: "";
        display: flex;
        height: 4px;
        transform: scaleX(0);
        width:75%;
        justify-content: center;
        margin: auto;
        background-color: $nocolor;
}



.article__linear:hover {
    & .highlight::after {
        transform-origin: left;
        animation: progress-bar 2000ms forwards ;
    }
}


@keyframes progress-bar {
    25% {
        transform: scaleX(0.2);
        
    }
    50% {
        transform: scaleX(1);
    } 
    100%{
        transform: scaleX(1);
    }
}

.btn {
    z-index: 1;
    position: relative;
    &:hover {
        &::after {
        opacity: 1;
        }
    }
    &::after {
        content:"";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0 ;
        background-color: darken($head-foot-bgc, 9);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
       
    }
    
}
