.main_wrapper {
    @include extracolumnblock;
    & a {
        text-decoration: initial;
    }
}
.detail-menu {
    &__plats {
    display: flex;
    }
    &__noms {
        width: 70%;
    } 
    &__prix {
        width: 30%;
    }
}