.main_wrapper {
    @include extracolumnblock;
    & a {
        text-decoration: initial;
    }
}
.detail-menu {
    &__plats {
    display: flex;
    justify-content: space-between;
    }
    &__prix {
        text-align: end;
    }
}
.footer__link {
    :hover {
    animation: headshake 200ms cubic-bezier(.4,.1,.6,.9) 4;
    }
}
@keyframes headshake {
    25% {
        // entièrement à droite
        transform: translateX($shake-intensity);
    }
    75% {
        // entièrement à gauche
        transform: translateX($shake-intensity * -1);
    }
}