*,
*::after,
*::before {
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

h1, h3, .main-container__link5 {
  color: rgba(241, 208, 100, 0.918);
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

.main-container__wrapped h2 {
  font-size: 2rem;
}
.main-container__wrapped p {
  font-size: 3rem;
}

.main-container__link1 {
  color: rgba(54, 9, 9, 0.87);
}
.main-container__link1 p {
  text-transform: uppercase;
  font-style: italic;
}
.main-container__link2 {
  color: orange;
}
.main-container__link3 {
  color: blue;
}
.main-container__link4 {
  color: green;
}

header {
  background-color: rgba(42, 134, 96, 0.836);
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  text-align: center;
  display: inline-block;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main_wrapper a {
  text-decoration: initial;
}

.detail-menu__plats {
  display: flex;
}
.detail-menu__noms {
  width: 70%;
}
.detail-menu__prix {
  width: 30%;
}

.main-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: 0;
}
.main-container__wrapped {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: space-around;
  padding-bottom: 3%;
}
.main-container__wrapped a {
  width: 40%;
  margin-bottom: 2.5%;
  margin-top: 6%;
  text-decoration: initial;
}
.main-container__wrapped div {
  flex-wrap: wrap;
  text-align: center;
}
.main-container__wrapped h2, .main-container__wrapped p {
  display: inline-block;
  width: 100%;
}
.main-container__wrapped h2 {
  margin-bottom: 0;
}
.main-container__other-page1, .main-container__other-page2, .main-container__other-page3, .main-container__other-page4 {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.main-container__other-page1 h2, .main-container__other-page1 h3, .main-container__other-page1 h4, .main-container__other-page2 h2, .main-container__other-page2 h3, .main-container__other-page2 h4, .main-container__other-page3 h2, .main-container__other-page3 h3, .main-container__other-page3 h4, .main-container__other-page4 h2, .main-container__other-page4 h3, .main-container__other-page4 h4 {
  display: inline-block;
}
.main-container__other-page1 {
  background-color: #f7d4bc;
}
.main-container__other-page2 {
  background-color: rgba(247, 240, 248, 0.815);
}
.main-container__other-page3 {
  background-color: #f7f7f7;
}
.main-container__other-page4 {
  background-color: white;
}
.main-container__detail-menu1, .main-container__detail-menu2, .main-container__detail-menu3, .main-container__detail-menu4 {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}
.main-container__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container__footer {
  display: flex;
  justify-content: center;
}
.main-container__linear {
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
}
.main-container__linear h3 {
  margin-right: 5%;
  text-align: center;
  width: 20%;
  margin-left: 5%;
}
.main-container__linear::before {
  display: flex;
  background: red;
  content: "";
  width: 35%;
  height: 3px;
}
.main-container__linear::after {
  display: flex;
  background: red;
  content: "";
  width: 35%;
  height: 3px;
}

.main-container__link1, .main-container__link2, .main-container__link3, .main-container__link4 {
  display: flex;
  width: 100%;
  padding-bottom: 50%;
  padding-top: 50%;
  box-shadow: 3px 3px 6px #d6d3d3;
}
.main-container__link1 {
  background-color: #f7d4bc;
}
.main-container__link2 {
  background-color: rgba(247, 240, 248, 0.815);
}
.main-container__link3 {
  background-color: #f7f7f7;
  font-style: italic;
}
.main-container__link4 {
  background-color: white;
  font-style: italic;
}
.main-container__link5 {
  background-color: rgba(42, 134, 96, 0.836);
  border-radius: 0.7rem;
  padding-bottom: 2.5%;
}
.main-container__link5 h2 {
  margin: auto;
}

footer {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgba(42, 134, 96, 0.836);
}
footer a {
  text-decoration: initial;
  padding-left: 2rem;
  padding-right: 2rem;
}

/*# sourceMappingURL=style.css.map */
