*,
*::after,
*::before {
  box-sizing: inherit;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

.ctn-menu {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 90%;
}

.main-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: center;
}
.main-container__wrapped {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.main-container__wrapped a {
  width: 40%;
  margin-bottom: 2.5%;
  margin-top: 6%;
  margin-left: 3%;
  margin-right: 3%;
}
@media all and (max-width: 768px) {
  .main-container__wrapped a {
    width: 80%;
  }
}
.main-container__wrapped h2, .main-container__wrapped p {
  display: inline-block;
  width: 100%;
}
.main-container__wrapped p {
  margin-top: 0;
}
.main-container__legal-page {
  text-align: center;
}
.main-container__legal-page p {
  width: 40%;
  text-align: justify;
  margin: auto;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .main-container__legal-page p {
    width: 50%;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .main-container__legal-page p {
    width: 65%;
  }
}
@media all and (max-width: 768px) {
  .main-container__legal-page p {
    width: 90%;
  }
}
.main-container__soon-page {
  text-align: center;
}
.main-container__contact-page {
  text-align: center;
}
.main-container__other-page1 {
  background-color: #f7d4bc;
}
.main-container__other-page1 .liner {
  background-color: rgba(54, 9, 9, 0.87);
}
.main-container__other-page2 {
  background-color: rgba(247, 240, 248, 0.815);
}
.main-container__other-page2 .addscolors1 .liner {
  background-color: orange;
}
.main-container__other-page2 .addscolors2 .liner {
  background-color: orange;
}
.main-container__other-page2 .addscolors3 .liner {
  background-color: #b771cc;
}
.main-container__other-page2 .addscolors4 .liner {
  background-color: #b771cc;
}
.main-container__other-page2 .addscolors5 .liner {
  background-color: #631ab6;
}
.main-container__other-page2 .addscolors6 .liner {
  background-color: #631ab6;
}
.main-container__other-page3 {
  background-color: #f7f7f7;
}
.main-container__other-page3 .addscolors1 .liner {
  background-color: #0101be;
}
.main-container__other-page3 .addscolors2 .liner {
  background-color: #0101be;
}
.main-container__other-page3 .addscolors3 .liner {
  background-color: #378dff;
}
.main-container__other-page3 .addscolors4 .liner {
  background-color: #378dff;
}
.main-container__other-page3 .addscolors5 .liner {
  background-color: #36b7f3;
}
.main-container__other-page3 .addscolors6 .liner {
  background-color: #36b7f3;
}
.main-container__other-page4 {
  background-color: white;
}
.main-container__other-page4 .addscolors1 .liner {
  background: linear-gradient(260deg, #0d741a 10%, #9ad34f 70%);
}
.main-container__other-page4 .addscolors2 .liner {
  background-color: #0d741a;
}
.main-container__other-page4 .addscolors3 .liner {
  background: linear-gradient(260deg, #0d741a 10%, #9ad34f 70%);
}
.main-container__other-page4 .addscolors4 .liner {
  background-color: #3dcc20;
}
.main-container__other-page4 .addscolors5 .liner {
  background: linear-gradient(260deg, #0d741a 10%, #9ad34f 70%);
}
.main-container__other-page4 .addscolors6 .liner {
  background-color: #9ad34f;
}

.main_wrapper .other-font {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  padding-bottom: 10rem;
}
.main_wrapper .other-font h2 {
  text-align: center;
}
@media all and (max-width: 768px) {
  .main_wrapper .other-font {
    padding-bottom: 8rem;
  }
}

.ctn-article {
  width: 76%;
  margin-top: 1%;
  margin-left: 12%;
  margin-right: 12%;
}
.ctn-article p {
  margin-right: 2%;
}
@media all and (min-width: 769px) and (max-width: 1199px) {
  .ctn-article {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media all and (max-width: 768px) {
  .ctn-article {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.ctn-article h2, .ctn-article h3, .ctn-article h4 {
  display: inline-block;
  flex-direction: column;
}

.article__plats {
  display: flex;
  flex-direction: column;
  margin-left: 9%;
  margin-right: 9%;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .article__plats {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .article__plats {
    margin-left: 7%;
    margin-right: 7%;
  }
}
@media all and (max-width: 768px) {
  .article__plats {
    margin-left: 2%;
    margin-right: 2%;
  }
}
.article__noms {
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 768px) {
  .article__noms {
    text-align: center;
    flex-direction: column;
  }
}
.article__detail-menu1 {
  display: flex;
  flex-direction: column;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 76%;
}
.article__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article__header img {
  width: 13%;
}
.article__footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article__footer img {
  width: 8%;
  margin-right: 1rem;
}
.article__linear {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article__linear h3 {
  text-align: center;
}
@media all and (max-width: 768px) {
  .article__linear {
    flex-direction: column;
  }
  .article__linear h3 {
    width: 100%;
  }
}
.article__underline {
  display: flex;
  justify-content: center;
}
.article__linear .liner {
  display: flex;
  width: 30%;
  height: 5px;
  border-radius: 1rem;
}
@media all and (max-width: 768px) {
  .article__linear .liner {
    width: 100%;
  }
}

footer {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #579c87;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
footer a {
  text-decoration: initial;
  padding-left: 2rem;
  padding-right: 2rem;
}

@font-face {
  font-family: "devonshire";
  src: url("devonshire-regular.ttf") format("truetype");
}
header h1, footer h3, .main-container__ctn-link5 {
  color: #fdcb46;
}

h1 {
  font-size: 5rem;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 4rem;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  h1 {
    font-size: 3rem;
  }
}
@media all and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  h3 {
    font-size: 1.7rem;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  h3 {
    font-size: 1.5rem;
  }
}
@media all and (max-width: 768px) {
  h3 {
    font-size: 1.2rem;
  }
}

h4 {
  font-size: 2rem;
}

p {
  font-size: 1.7rem;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  p {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  p {
    font-size: 1.3rem;
  }
}
@media all and (max-width: 768px) {
  p {
    font-size: 1rem;
  }
}

.form__btn-input {
  font-size: 1.3rem;
}
.form__email-input input {
  font-size: 1.1rem;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .form__btn-input {
    font-size: 1.2rem;
  }
  .form__email-input input {
    font-size: 1rem;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .form__btn-input {
    font-size: 1rem;
  }
  .form__email-input input {
    font-size: 0.8rem;
  }
}
@media all and (max-width: 768px) {
  .form__btn-input {
    font-size: 0.9rem;
  }
  .form__email-input {
    font-size: 0.7rem;
  }
}

.other-font h2 {
  font-size: 4rem;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .other-font h2 {
    font-size: 3rem;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .other-font h2 {
    font-size: 2.5rem;
  }
}
@media all and (max-width: 768px) {
  .other-font h2 {
    font-size: 2rem;
  }
}
.other-font h3 {
  font-size: 2.1rem;
  font-family: "Satisfy", cursive, Verdana, Geneva, Tahoma, sans-serif;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .other-font h3 {
    font-size: 1.9rem;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .other-font h3 {
    font-size: 1.7rem;
  }
}
@media all and (max-width: 768px) {
  .other-font h3 {
    font-size: 1.3rem;
  }
}
.other-font h4 {
  font-size: 3.5rem;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .other-font h4 {
    font-size: 3.2rem;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .other-font h4 {
    font-size: 2.5rem;
  }
}
@media all and (max-width: 768px) {
  .other-font h4 {
    font-size: 1.7rem;
  }
}

.fa-music {
  background: linear-gradient(120deg, #f83e4e 45%, rgba(255, 144, 80, 0.993) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container__wrapped h2 {
  font-size: 3rem;
}
@media all and (min-width: 769px) and (max-width: 1199px) {
  .main-container__wrapped h2 {
    font-size: 2rem;
  }
}
@media all and (max-width: 768px) {
  .main-container__wrapped h2 {
    font-size: 1rem;
  }
}
.main-container__wrapped p {
  font-size: 4rem;
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .main-container__wrapped p {
    font-size: 3rem;
  }
}
@media all and (max-width: 768px) {
  .main-container__wrapped p {
    font-size: 2rem;
  }
}

.main-container__ctn-link1 {
  color: rgba(54, 9, 9, 0.87);
}
.main-container__ctn-link1 p {
  text-transform: uppercase;
  font-style: italic;
  font-family: "satisfy", cursive, Verdana, Geneva, Tahoma, sans-serif;
}
.main-container__ctn-link1 h2 {
  font-family: "devonshire", cursive, Verdana, Geneva, Tahoma, sans-serif;
}
.main-container__ctn-link2 {
  color: orange;
}
.main-container__ctn-link2 h2 {
  background: linear-gradient(165deg, orange 25%, #b771cc 59%, #631ab6 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-container__ctn-link3 {
  color: #0101be;
}
.main-container__ctn-link3 h2 {
  background: linear-gradient(165deg, #0101be 25%, #378dff 65%, #36b7f3 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-container__ctn-link4 {
  color: #0d741a;
}
.main-container__ctn-link4 h2 {
  background: linear-gradient(165deg, #0d741a 45%, #3dcc20 50%, #9ad34f 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.article__noms {
  font-size: 1.3rem;
}

.main-container__ctn-legal address {
  font-size: 1.3rem;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .main-container__ctn-legal address {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 991px) {
  .main-container__ctn-legal address {
    font-size: 1rem;
  }
}
.main-container__other-page1 p {
  font-family: "Times New Roman", serif, Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
}
.main-container__other-page1 .article__header {
  color: rgba(54, 9, 9, 0.87);
  font-family: "devonshire", cursive, Verdana, Geneva, Tahoma, sans-serif;
}
.main-container__other-page1 .article__linear {
  color: rgba(54, 9, 9, 0.87);
}
.main-container__other-page1 .article__linear .highlight::after {
  background-color: rgba(54, 9, 9, 0.87);
}
.main-container__other-page1 .article__footer {
  color: rgba(54, 9, 9, 0.87);
  font-family: "devonshire", cursive, Verdana, Geneva, Tahoma, sans-serif;
}
.main-container__other-page1 .article__noms {
  color: rgba(54, 9, 9, 0.87);
}
.main-container__other-page2 .article__detail-menu2 h3 {
  font-size: 1.4rem;
  font-family: Georgia, serif, "Times New Roman", Times;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .main-container__other-page2 .article__detail-menu2 h3 {
    font-size: 1.3rem;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .main-container__other-page2 .article__detail-menu2 h3 {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 768px) {
  .main-container__other-page2 .article__detail-menu2 h3 {
    font-size: 1.1rem;
  }
}
.main-container__other-page2 .article__header {
  background: linear-gradient(165deg, orange 25%, #b771cc 59%, #631ab6 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-container__other-page2 .addscolors1 {
  color: orange;
}
.main-container__other-page2 .addscolors1 .highlight::after {
  background-color: orange;
}
.main-container__other-page2 .addscolors2 {
  color: orange;
}
.main-container__other-page2 .addscolors3 {
  color: #b771cc;
}
.main-container__other-page2 .addscolors3 .highlight::after {
  background-color: #b771cc;
}
.main-container__other-page2 .addscolors4 {
  color: #b771cc;
}
.main-container__other-page2 .addscolors5 {
  color: #631ab6;
}
.main-container__other-page2 .addscolors5 .highlight::after {
  background-color: #631ab6;
}
.main-container__other-page2 .addscolors6 {
  color: #631ab6;
}
.main-container__other-page3 p {
  font-family: "Times New Roman", serif, Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
}
.main-container__other-page3 h2 {
  font-style: italic;
}
.main-container__other-page3 .article__header {
  background: linear-gradient(165deg, #0101be 25%, #378dff 65%, #36b7f3 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-container__other-page3 .addscolors1 {
  color: black;
}
.main-container__other-page3 .addscolors2 {
  color: black;
}
.main-container__other-page3 .addscolors3 {
  color: black;
}
.main-container__other-page3 .addscolors4 {
  color: black;
}
.main-container__other-page3 .addscolors5 {
  color: black;
}
.main-container__other-page3 .addscolors6 {
  color: black;
}
.main-container__other-page4 p {
  font-family: "Times New Roman", serif, Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
}
.main-container__other-page4 h2 {
  font-style: italic;
}
.main-container__other-page4 .article__header {
  background: linear-gradient(165deg, #0d741a 45%, #3dcc20 50%, #9ad34f 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-container__other-page4 .addscolors1 {
  color: black;
}
.main-container__other-page4 .addscolors2 {
  color: black;
}
.main-container__other-page4 .addscolors3 {
  color: black;
}
.main-container__other-page4 .addscolors4 {
  color: black;
}
.main-container__other-page4 .addscolors5 {
  color: black;
}
.main-container__other-page4 .addscolors6 {
  color: black;
}

.article__header h2 {
  font-size: 4rem;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .article__header h2 {
    font-size: 3rem;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .article__header h2 {
    font-size: 2rem;
  }
}
@media all and (max-width: 768px) {
  .article__header h2 {
    font-size: 1.7rem;
  }
}

.btn {
  z-index: 1;
  position: relative;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #477f6e;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

a .btn::after {
  border-radius: 0.7rem;
}

header {
  background-color: #579c87;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  text-align: center;
  display: inline-block;
  margin: 1rem auto;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main_wrapper a {
  text-decoration: initial;
  color: inherit;
}

.detail-menu__plats {
  display: flex;
  justify-content: space-between;
}
.detail-menu__prix {
  text-align: end;
}

.footer__link :hover {
  animation: headshake 200ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 4;
}

.main-container__link {
  width: 70%;
}

.zoom {
  transform: scale(1);
  opacity: 1;
  transition: all 500ms linear 100ms;
}

.main-container__wrapped a:hover .zoom {
  transform: scale(1.4);
  opacity: 0.6;
  transition: transform 500ms cubic-bezier(0.07, 1.19, 0.41, 0.89);
}

@keyframes headshake {
  25% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(-5%);
  }
}
.highlight::after {
  content: "";
  display: flex;
  height: 4px;
  transform: scale(0);
  transition: transform 500ms cubic-bezier(0.07, 1.19, 0.41, 0.89) 300ms;
  background-color: black;
}

.article__linear:hover .highlight::after {
  transform-origin: left;
  transform: scale(1);
  transition: transform 500ms cubic-bezier(0.07, 1.19, 0.41, 0.89);
}
@media all and (max-width: 768px) {
  .article__linear:hover .highlight::after {
    transform: scale(0);
  }
}

@keyframes progress-bar {
  25% {
    transform: scaleX(0.2);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1);
  }
}
h2 {
  margin-top: 0;
}

.fa-music {
  font-size: 5.5rem;
}

.ctn-section {
  display: flex;
  width: 100%;
  box-shadow: 3px 3px 6px #d6d3d3;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 55rem;
  padding-top: 22rem;
  padding-bottom: 18rem;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .ctn-section {
    height: 40rem;
    padding-top: 15rem;
    padding-bottom: 10rem;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .ctn-section {
    height: 30rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
}
@media all and (max-width: 768px) {
  .ctn-section {
    height: 15rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
}
.ctn-section p {
  margin-bottom: 0;
}

.main-container__ctn-link1 {
  background-color: #f7d4bc;
  padding-top: 16.5rem;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .main-container__ctn-link1 {
    padding-top: 11.5rem;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .main-container__ctn-link1 {
    padding-top: 7.5rem;
  }
}
@media all and (max-width: 768px) {
  .main-container__ctn-link1 {
    padding-top: 3.75rem;
  }
}
.main-container__ctn-link1 .fa-music {
  font-size: 5.5rem;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .main-container__ctn-link1 .fa-music {
    font-size: 3.5rem;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .main-container__ctn-link1 .fa-music {
    font-size: 2.5rem;
  }
}
@media all and (max-width: 768px) {
  .main-container__ctn-link1 .fa-music {
    font-size: 1.25rem;
  }
}
.main-container__ctn-link2 {
  background-color: rgba(247, 240, 248, 0.815);
}
.main-container__ctn-link3 {
  background-color: #f7f7f7;
  font-style: italic;
}
.main-container__ctn-link4 {
  background-color: white;
  font-style: italic;
}
.main-container__ctn-link5 {
  background-color: #579c87;
  border-radius: 0.7rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 6rem;
}
.main-container__ctn-link5 h2 {
  text-align: center;
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
}

.main-container__other-page1 .article__plats {
  margin-left: 0;
  margin-right: 0;
}

.section__ctn-pixel {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.7rem;
  margin-left: 1rem;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .section__ctn-pixel {
    margin-bottom: 0.5rem;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section__ctn-pixel {
    margin-bottom: 0.5rem;
  }
}
@media all and (max-width: 768px) {
  .section__ctn-pixel {
    margin-bottom: 0.3rem;
  }
}
.section__ctn-pixel > div {
  width: 7px;
  height: 7px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fdcb46;
  opacity: 0;
  border-radius: 2rem;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .section__ctn-pixel > div {
    width: 5px;
    height: 5px;
    margin-right: 7px;
    margin-left: 7px;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .section__ctn-pixel > div {
    width: 3px;
    height: 3px;
    margin-right: 4px;
    margin-left: 4px;
  }
}
@media all and (max-width: 768px) {
  .section__ctn-pixel > div {
    width: 3px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
  }
}

.section__pixel1 {
  animation: pixelsection1 3000ms cubic-bezier(0.07, 1.19, 0.41, 0.89) infinite;
}
.section__pixel2 {
  animation: pixelsection2 3000ms cubic-bezier(0.07, 1.19, 0.41, 0.89) infinite;
}
.section__pixel3 {
  animation: pixelsection3 3000ms cubic-bezier(0.07, 1.19, 0.41, 0.89) infinite;
}

@keyframes pixelsection1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  26% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pixelsection2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pixelsection3 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.article__header .fa-music {
  font-size: 6rem;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .article__header .fa-music {
    font-size: 4rem;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .article__header .fa-music {
    font-size: 3rem;
  }
}
@media all and (max-width: 768px) {
  .article__header .fa-music {
    font-size: 2rem;
  }
}
.article__footer .fa-music {
  margin-right: 2rem;
  font-size: 3rem;
}
@media all and (min-width: 992px) and (max-width: 1199px) {
  .article__footer .fa-music {
    font-size: 2.5rem;
    margin-right: 1.7rem;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .article__footer .fa-music {
    font-size: 2.2rem;
    margin-right: 1.5rem;
  }
}
@media all and (max-width: 768px) {
  .article__footer .fa-music {
    font-size: 2rem;
    margin-right: 0.4rem;
  }
}

/*# sourceMappingURL=style.css.map */
