h1, h3, .main-container__link5 {
    color: $fontcolour-secondary;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}

.main-container__wrapped {
    & h2{
        font-size: 2rem;
    }
    & p {
        font-size: 3rem;
    }
}

.main-container__link{
    &1 {
        color: $menu1-color;
        & p{
            text-transform: uppercase;
            font-style: italic;
        }   
    }
    &2 {
        color: $menu2-color;
    }
    &3  {
        color: $menu3-color;
    }
    &4  {
        color: $menu4-color;
    }
}



