@font-face
{
    font-family: 'devonshire';
    src: url('../../image/fonts/devonshire-regular.ttf') format('truetype');
}

header h1, footer h3, .main-container__ctn-link5 {
    color: $fontcolour-secondary;
}

h1 {
    font-size: 5rem;
    
    @media all and (min-width: 992px) and (max-width: 1199px){
    font-size: 4rem;
    }
    @media all and (min-width: 769px) and (max-width: 991px){
    font-size: 3rem;
    }
    @media all and (max-width: 768px){
    font-size: 2rem;
    }
}

h3 {
    font-size: 2rem;
    @media all and (min-width: 992px) and (max-width: 1199px){
        font-size: 1.7rem;
        }
    @media all and (min-width: 769px) and (max-width: 991px){
        font-size: 1.5rem;
        }
   @media all and (max-width: 768px){
        font-size: 1.2rem;
        }
}
h4 {
    font-size: 2rem;
}
p {
    font-size: 1.7rem;
    @media all and (min-width: 992px) and (max-width: 1199px){
        font-size: 1.5rem;
        }
    @media all and (min-width: 769px) and (max-width: 991px){
        font-size: 1.3rem;
        }
   @media all and (max-width: 768px){
        font-size: 1rem;
        }
}
.form {
    &__btn-input {
    font-size: 1.3rem;
}
    &__email-input input {
        font-size: 1.1rem;     
    } 
    @media all and (min-width: 992px) and (max-width: 1199px){
        &__btn-input {
            font-size: 1.2rem;
        }
        &__email-input input {
            font-size: 1rem;

        } 
        }
    @media all and (min-width: 769px) and (max-width: 991px){
        &__btn-input {
            font-size: 1rem;
        }
        &__email-input input {
            font-size: 0.8rem;
            
        } 
        }
   @media all and (max-width: 768px){
    &__btn-input {
        font-size: 0.9rem;
    }
        &__email-input {
            font-size: 0.7rem;  
        } 
        }
}
.other-font {
    & h2 {
        font-size: 4rem;
        @media all and (min-width: 992px) and (max-width: 1199px){
            font-size: 3rem;
            }
        @media all and (min-width: 769px) and (max-width: 991px){
            font-size: 2.5rem;
            }
       @media all and (max-width: 768px){
            font-size: 2rem;
            }
    }
    & h3 {
        font-size: 2.1rem;
        @media all and (min-width: 992px) and (max-width: 1199px){
            font-size: 1.9rem;
            }
        @media all and (min-width: 769px) and (max-width: 991px){
            font-size: 1.7rem;
            }
       @media all and (max-width: 768px){
            font-size: 1.3rem;
            }
        font-family: 'Satisfy', cursive;
}
    
    & h4 {
        font-size: 3.5rem;
        @media all and (min-width: 992px) and (max-width: 1199px){
            font-size: 3.2rem;
            }
        @media all and (min-width: 769px) and (max-width: 991px){
            font-size: 2.5rem;
            }
       @media all and (max-width: 768px){
            font-size: 1.7rem;
    }
}
}

.fa-music {
    background: linear-gradient(120deg, $menu2-color1 45%, $menu2-color2 70%);
                    
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
                
}
.main-container__wrapped {
    & h2{
        font-size: 3rem;
        @media all and (min-width: 769px) and (max-width: 1199px){
            font-size: 2rem;
        }
        @media all and (max-width: 768px){
            font-size: 1rem;
            }
    }
    & p {
        font-size: 4rem;
        @media all and (min-width: 769px) and (max-width: 991px){
            font-size: 3rem;
            }
        @media all and (max-width: 768px){
            font-size: 2rem;
            }

    }
}

.main-container__ctn-link{
    &1 {
        color: $menu1-color;
        & p{
            text-transform: uppercase;
            font-style: italic;
            font-family: 'satisfy', cursive;
            
        } 
        & h2{
            font-family: 'devonshire', cursive;
        }  
    }
    &2 {
        color: $menu2-color;
        & h2 {
            background: linear-gradient(165deg, $menu2-color 25%, $menu2-specialcolor1 59%,  $menu2-specialcolor2 70%);
                    
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
        }
    }
    &3  {
        color: $menu3-color;
        & h2 {
            background: linear-gradient(165deg, $menu3-color 25%, $menu3-specialcolor1 65%,  $menu3-specialcolor2 70%);
                
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }

        }
    
    &4  {
        color: $menu4-color;
        & h2 {
            background: linear-gradient(165deg, $menu4-color 45%, $menu4-specialcolor1 50%,  $menu4-specialcolor2 60%);
            
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }
        }
    
}
.article {
        &__noms {
            font-size: 1.3rem;
        } 
    }


.main-container {
    &__ctn-legal address {
        font-size:1.3rem;
        @media all and (min-width: 992px) and (max-width: 1199px){
            font-size:1.2rem; 
        }

        @media all and (max-width: 991px){
            font-size:1rem; 
        }

        
    }
    &__other-page {
        &1 {
            & p {
                font-family: 'Times New Roman', serif;
                font-style: oblique;
            }

            & .article {
                &__header {
                    color: $menu1-color;
                    font-family: 'devonshire', cursive;
                }
                &__linear {
                    color: $menu1-color;
                }
                &__footer {
                    color : $menu1-color;
                    font-family: 'devonshire', cursive;
                }
            }
                & .article {
                    &__noms {
                        color: $menu1-color;
                    }
                    

                }
                
            }
        &2 {
                & .article {
                    &__detail-menu2 {
                        & h3 { 
                        font-size: 1.4rem;
                        @media all and (min-width: 992px) and (max-width: 1199px){
                            font-size: 1.3rem;
                    
                        }
                    
                        @media all and (min-width: 769px) and (max-width: 991px){
                            font-size: 1.2rem;
                    
                        }
                    
                        @media all and (max-width: 768px){
                            font-size: 1.1rem;
                        }
                        font-family: Georgia, 'Times New Roman', Times, serif;
                    }
                }
                    
                    &__header {
                    background: linear-gradient(165deg, $menu2-color 25%, $menu2-specialcolor1 59%,  $menu2-specialcolor2 70%);
                    
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    }

            }
            & .addscolors1 {
                color: $menu2-color;
                
            }
            & .addscolors2 {
                color:$menu2-color;
            }
            & .addscolors3 {
                color:$menu2-specialcolor1;
            }
            & .addscolors4 {
                color:$menu2-specialcolor1;
            }
            & .addscolors5 {
                color: $menu2-specialcolor2 ;
            }
            & .addscolors6 {
                color:$menu2-specialcolor2 ;
            }
        }
        &3 {
            & p {
            font-family: 'Times New Roman', serif;
            font-style: oblique;
            
            }
            & h2 {
                font-style: italic;
            }
        
            
            & .article {
                &__header {
                background: linear-gradient(165deg, $menu3-color 25%, $menu3-specialcolor1 65%,  $menu3-specialcolor2 70%);
                
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                }

        }
        & .addscolors1 {
            color: $nocolor;
            
        }
        & .addscolors2 {
            color:$nocolor;
        }
        & .addscolors3 {
            color:$nocolor;
        }
        & .addscolors4 {
            color:$nocolor;
        }
        & .addscolors5 {
            color: $nocolor ;
        }
        & .addscolors6 {
            color:$nocolor;
        }
    }
    &4 {
        & p {
        font-family: 'Times New Roman', serif;
        font-style: oblique;
        
    }
        & h2 {
            font-style: italic;
        }
            
        & .article {
            &__header {
            background: linear-gradient(165deg, $menu4-color 45%, $menu4-specialcolor1 50%,  $menu4-specialcolor2 60%);
            
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }

    }
    & .addscolors1 {
        color: $nocolor;
        
    }
    & .addscolors2 {
        color:$nocolor;
    }
    & .addscolors3 {
        color:$nocolor;
    }
    & .addscolors4 {
        color:$nocolor;
    }
    & .addscolors5 {
        color: $nocolor ;
    }
    & .addscolors6 {
        color:$nocolor;
    }
    }
    }
}
.article__header {
    & h2 {
    font-size: 4rem;
    @media all and (min-width: 992px) and (max-width: 1199px){
        font-size: 3rem;

    }

    @media all and (min-width: 769px) and (max-width: 991px){
        font-size: 2rem;

    }

    @media all and (max-width: 768px){
        font-size: 1.7rem;
    }
    
}
}


