
header h1, footer h3, .main-container__link5 {
    color: $fontcolour-secondary;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 2rem;
}
.other-font {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.7rem;
    }
    h4 {
        font-size: 2rem;
    }
}

.main-container__wrapped {
    & h2{
        font-size: 2rem;
    }
    & p {
        font-size: 3rem;
    }
}

.main-container__link{
    &1 {
        color: $menu1-color;
        & p{
            text-transform: uppercase;
            font-style: italic;
        }   
    }
    &2 {
        color: $menu2-color;
    }
    &3  {
        color: $menu3-color;
    }
    &4  {
        color: $menu4-color;
    }
}
    .detail-menu {
        &__noms {
            font-size: 1.5rem;
        } 
        &__prix {
            font-size: 1.5rem;
        }
    }


.main-container {
    &__other-page {
        &1 {
            & .main-container {
                &__header {
                    color: $menu1-color;
                }
                &__linear {
                    color: $menu1-color;
                }
                &__footer {
                    color : $menu1-color;
                }
            }
                & .detail-menu {
                    &__noms {
                        color: $menu1-color;
                    }
                    &__prix {
                        color: $menu1-color;

                    } 

                }
                
            }
            &2 {
                & .main-container {
                    &__header {
                    background: linear-gradient(165deg, $menu2-color 25%, $menu2-specialcolor1 59%,  $menu2-specialcolor2 70%);
                    
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    }

            }
            & .addscolors1 {
                color: $menu2-color;
                
            }
            & .addscolors2 {
                color:$menu2-color;
            }
            & .addscolors3 {
                color:$menu2-specialcolor1;
            }
            & .addscolors4 {
                color:$menu2-specialcolor1;
            }
            & .addscolors5 {
                color: $menu2-specialcolor2 ;
            }
            & .addscolors6 {
                color:$menu2-specialcolor2 ;
            }
        }
        &3 {
            
            & .main-container {
                &__header {
                background: linear-gradient(165deg, $menu3-color 25%, $menu3-specialcolor1 65%,  $menu3-specialcolor2 70%);
                
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                }

        }
        & .addscolors1 {
            color: $nocolor;
            
        }
        & .addscolors2 {
            color:$nocolor;
        }
        & .addscolors3 {
            color:$nocolor;
        }
        & .addscolors4 {
            color:$nocolor;
        }
        & .addscolors5 {
            color: $nocolor ;
        }
        & .addscolors6 {
            color:$nocolor;
        }
    }
    &4 {
        
            
        & .main-container {
            &__header {
            background: linear-gradient(165deg, $menu4-color 45%, $menu4-specialcolor1 50%,  $menu4-specialcolor2 60%);
            
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            }

    }
    & .addscolors1 {
        color: $nocolor;
        
    }
    & .addscolors2 {
        color:$nocolor;
    }
    & .addscolors3 {
        color:$nocolor;
    }
    & .addscolors4 {
        color:$nocolor;
    }
    & .addscolors5 {
        color: $nocolor ;
    }
    & .addscolors6 {
        color:$nocolor;
    }
    }
    }
}


