
h2 {
    margin-top: 0;
}

.fa-music {
    font-size: 5.5rem;
}

.ctn-section {
        @include middleblock;
        box-shadow: 3px 3px 6px rgb(214, 211, 211);
        flex-direction: column;
        text-align: center;
        align-items: center;
        height: 55rem;
        padding-top: 22rem;
        padding-bottom: 18rem;
        @media all and (min-width: 992px) and (max-width: 1199px)
        {
            height: 40rem;
            padding-top: 15rem;
            padding-bottom: 10rem;
        }
        @media all and (min-width: 769px) and (max-width: 991px){
            height: 30rem;
            padding-top: 10rem;
            padding-bottom: 5rem;
        }
        @media all and (max-width: 768px){
            
            height: 15rem;
            padding-top: 5rem;
            padding-bottom: 1rem;
        }
        
    
        & p {
            margin-bottom: 0;
        }
        }


.main-container__ctn-link {
   
    &1 {
        background-color: $menu1-bcg;
        padding-top: 16.5rem;
        @media all and (min-width: 992px) and (max-width: 1199px){
            padding-top: 11.5rem;
        }
        @media all and (min-width: 769px) and (max-width: 991px){
            
            padding-top: 7.5rem;
        }
        @media all and (max-width: 768px){
            padding-top: 3.75rem;
        }
            
    
        & .fa-music {
            font-size: 5.5rem;
            @media all and (min-width: 992px) and (max-width: 1199px){
            font-size: 3.5rem;
            }
            @media all and (min-width: 769px) and (max-width: 991px){
            font-size: 2.5rem;
            }
            @media all and (max-width: 768px){
            font-size: 1.25rem;
            }
        } 
    }
    &2 {
        background-color: $menu2-bcg;
    }   
    &3 {
        background-color: $menu3-bcg;
        font-style: italic;
        

    }
    &4 {
        background-color: $menu4-bcg;
        font-style: italic;
        
        
    }
    
    &5 {
        background-color: $head-foot-bgc;
        border-radius: 0.7rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 6rem;
        & .main-container__link {
            display: flex;
            justify-content: center;

        }
        & h2 { 
            width: initial;
            text-align: center;
            display:inline-block;
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;
        }
        
    }

}
.main-container__other-page1 {
    & .article__plats {
        margin-left: 0;
        margin-right: 0;
    }
}

.section__ctn-pixel {
    display: flex;
    align-items: flex-end;
    margin-left: 1rem;
    margin-bottom: 2rem;
    @media all and (min-width: 992px) and (max-width: 1199px){
        margin-bottom: 2rem;
    }
    @media all and (min-width: 769px) and (max-width: 991px){
        margin-bottom: 1.9rem;
        margin-left: 0.8rem;
    }
    @media all and (max-width: 768px){
        margin-bottom: 1.7rem;
        margin-left: 0.8rem;
    }
    &> div {
    width: 9px;
    height: 9px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: $fontcolour-secondary;
    opacity:0;
    border-radius: 2rem;
    @media all and (min-width: 992px) and (max-width: 1199px){
    width: 6px;
    height: 6px;
    margin-right: 7px;
    margin-left: 7px;
    }
    @media all and (min-width: 769px) and (max-width: 991px){
        width: 5px;
    height: 5px;
    margin-right: 4px;
    margin-left: 4px;
    }
    @media all and (max-width: 768px){
        width: 4px;
        height: 4px;
        margin-right: 3px;
        margin-left: 3px;
    
        }
    }
}
.section__pixel {
    &1 {
        animation: pixelsection1 3000ms cubic-bezier(.07,1.19,.41,.89) infinite;
       
    }
    &2 {
        animation: pixelsection2 3000ms cubic-bezier(.07,1.19,.41,.89) infinite;
        
    }
    &3 {
        animation: pixelsection3 3000ms cubic-bezier(.07,1.19,.41,.89) infinite;
        
    }
}


@keyframes pixelsection1 {
    0% {
        opacity:0;}
    25% {opacity:0;}
    26% {opacity:1;}
        
        100% { opacity:1;}
        
}
@keyframes pixelsection2 {
    0% {
        opacity:0;
    }
    50% {opacity:0;}
    51% {
        opacity:1;
    }
    100% { opacity: 1;}
    
    
    
}
@keyframes pixelsection3 {
    0% {
        opacity:0;
    }
    75% {
        opacity:0;
    }
    76%{
        opacity:1;
    }
    100% {
        opacity:1;
    }
}
