section {
    @include  extrarowblock (wrap);
    width: 80%;
    margin: auto;
    justify-content: space-around;
    padding-bottom: 3%;
    & a {
        width: 40%;
        margin-bottom: 2.5%;
        margin-top: 6%;
        text-decoration: initial;
        }
    & div {
        flex-wrap: wrap;
        text-align: center;
    } 
    & h2, p {
        display: inline-block;
        width: 100%;
    }
    & h2 {
        margin-bottom: 0;
    }

    }


.section__link {
    &1, &2, &3, &4 {
    @include middleblock;
    box-shadow: 3px 3px 6px rgb(214, 211, 211);
    }
    &1 {
        background-color: $menu1-bcg;
    }
    &2 {
        background-color: $menu2-bcg;
    }   
    &3 {
        background-color: $menu3-bcg;
        font-style: italic;
        

    }
    &4 {
        background-color: $menu4-bcg;
        font-style: italic;
        
    }
    
    &5 {
        background-color: $head-foot-bgc;
        border-radius: 0.7rem;
        padding-bottom: 2.5%;
        & h2 {
            margin: auto;
        }
        
    }

}




footer {
    @include  extrarowblock;
    justify-content: space-between;
    background-color: $head-foot-bgc; 
    & a {
        text-decoration: initial;
        padding-left: 2rem;
        padding-right: 2rem;
    }    
}

