$fontcolour-secondary: rgba(241, 208, 100, 0.918);
$head-foot-bgc: rgba(42, 134, 96, 0.836);
$menu1-bcg: rgb(247, 212, 188);
$menu2-bcg: rgba(247, 240, 248, 0.815);
$menu3-bcg: rgb(247, 247, 247);
$menu4-bcg: white;
$menu1-color: rgba(54, 9, 9, 0.87);
$menu2-color: orange;
$menu3-color: blue;
$menu4-color: green;

