$fontcolour-secondary: #fdcb46;
$head-foot-bgc:#579c87;
$menu1-bcg: rgb(247, 212, 188);
$menu2-bcg: rgba(247, 240, 248, 0.815);
$menu3-bcg: rgb(247, 247, 247);
$menu4-bcg: white;
$menu1-color: rgba(54, 9, 9, 0.87);
$menu2-color: orange;
$menu2-specialcolor1:  rgb(183, 113, 204);
$menu2-specialcolor2:  rgb(99, 26, 182);
$menu3-color: rgb(1, 1, 190);
$menu3-specialcolor1: rgb(55, 141, 255);
$menu3-specialcolor2: rgb(54, 183, 243);
$menu4-color: rgb(13, 116, 26);
$menu4-specialcolor1:  rgb(61, 204, 32);
$menu4-specialcolor2:  rgb(154, 211, 79);
$nocolor: black;
$menu2-color1: rgb(248, 62, 78);
$menu2-color2: rgba(255, 144, 80, 0.993);
$color-input-text: black;
$color-border-input: rgba(42, 134, 96, 1);
$color-txt--invalid: white;
$color-error: red;
$shake-intensity: 5%;


